
        .loader{
            position: absolute;
            top: 40%;
            left: 45%;
            
            border:3px solid;
            width:50px;
            height:50px;
            margin:20px;
            background-color: aqua;
            border-radius:50%;
            border-color:orange transparent transparent;
            animation:spin 2s linear infinite;
        }
        @keyframes spin{
            100%{transform:rotate(-360deg);filter:hue-rotate(-360deg)};
        }
        