*{
    margin:0;
    padding:0;
    font-family:verdana sans-serif;
}
body{
    background:linear-gradient(150deg, #ff33339e 15%, #d9ff05de 70%, #ff7805 94%);
}
#main{
    width:100;
    height:100vh;
}
nav{
    width:100%;
    height: 80px;
    background-color: #0005;
}
nav h1{
    text-align: center;
    padding-left:300px;
    font-size:40px;
}
nav ul{
    float:right;
    margin-right: 30px;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    transition:0.8s all;
}
nav ul li:hover{
    background-color:orangered;
}
nav ul li a{
    text-decoration: none;
    color:black;
    padding:30px;
}
.searchbox{
    width: 100%;
    border: 20px;
    padding-top: 30px;
    padding-left: 33%;
    padding-bottom: 30px;
}
.searchbox input[type="text"]{
    
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border-bottom-right-radius:0;
    border-top-right-radius: 0px;
    border: none;
    text-align: center;
}
.searchbox input[type="button"]{
    width: 60px;
    height: 40px;
    border-radius: 30px;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
.scroll ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    cursor: pointer;
}
.scroll ul li{
    float :left;
    width: 200px;
    height: 40px;
    
    opacity: 0.8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}
.scroll ul li a{
    text-decoration: none;
    color: white;
    display: block;

}
.scroll ul li a:hover{
    background-color:orangered;
}
.scroll ul li a ul li{
    display: none;
}
.scroll ul li a:hover ul li{
    display: block;
}